body {
    margin: 0;
    background-color: rgb(2, 14, 24);
    font-family: monospace, 'Courier New', Courier;
  }

/*nav bar*/

ul {
    overflow: hidden;
    background-color:hsla(183, 66%, 44%, 0.942);
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 0.95em;
    margin-inline: 20%;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    font-family: arial;
}

.navbar a:hover {
    color: #becfeef2;
}

  /*Heading*/

#home {
    background-color:hsla(183, 66%, 44%, 0.845);
    font-weight: bold;
    font-size: 2em;
    color: aliceblue;
    margin-top: 1.53em;
    margin-bottom: 0;
    padding: 0.2em;
    font-family: monospace, 'Courier New', Courier;
    text-align: center;
    letter-spacing: 110%;
}

/*Subhead*/

#html, #css, #js{
    font-weight: bold;
    color: hsla(184, 94%, 93%, 0.874);
    letter-spacing: 110%;
    margin-left: 5%;
}

/*table*/

table {
    border: 1px solid hsla(183, 66%, 44%, 0.912);
    border-collapse: collapse;
    color:aliceblue;
  }

  .tables {
    overflow-x:auto;
  }

  th {
    background-color: hsla(183, 66%, 44%, 0.967);
  }
  
  td, th {
    white-space: nowrap;
    border: 1px solid hsla(183, 66%, 44%, 0.944);
    padding: 1em;
    font-size: small;
  }

  /*footer*/

  footer {
    text-align: right;
    margin-top: 50px;
    margin-right: 50px;
  }