:root {
  --background: #1d3557;
  --divs: #457b9d;
  --secon-divs: #a8dadc;
  --letters: #f1faee;
  --high-light: #e63946;
}

#body {
    font-family: monospace, 'Courier New', Courier;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--letters);
}

#header {
  background-color: var(--divs);
}

main {
  margin: 2%;
  background-color: var(--background);
}

/*Heading*/

#home {
  background-color: var(--divs);
  font-weight: bold;
  font-size: 2em;
  color: var(--letters);
  font-family: monospace, 'Courier New', Courier;
  text-align: center;
  letter-spacing: 110%;
  margin: 0 auto;
  width: 13rem;
  position: relative;
  z-index: 1;
}

/*nav bar*/

#navbar {
  top: 0;
  margin: 0;
  padding: 0.5rem;
  background-color: var(--divs);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--letters);
}

#nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

#nav-list li {
  margin: 0.3rem 0.5rem;
  padding: 0 0.5rem;
  border-right: 1px solid var(--secon-divs);
}

.nav-item {
  text-decoration: none;
  color: var(--letters);
  text-align: center;
}

/*Subhead*/

.sub-title {
  margin-top: 3rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: var(--letters);
  letter-spacing: 110%;
}

/*table*/
.table-color {
  background-color: var(--divs);
}

  /*footer*/
footer {
  text-align: right;
  margin-top: 50px;
  margin-right: 50px;
  color: var(--letters);
}